<?xml version="1.0" encoding="utf-8" ?>
<menu>
    <categories version="1">
        <category name="Pizzas">
            <items>
                <item name="Tomato &amp; Cheese" id="1">
                    <sizes>
                        <size size="small">
                            <price>5.50</price>
                        </size>
                        <size size="large">
                            <price>9.75</price>
                        </size>
                    </sizes>
                </item>
                <item name="Onions" id="2">
                    <sizes>
                        <size size="small">
                            <price>6.85</price>
                        </size>
                        <size size="large">
                            <price>10.85</price>
                        </size>
                    </sizes>
                </item>
                <item name="Peppers" id="3">
                    <sizes>
                        <size size="small">
                            <price>6.85</price>
                        </size>
                        <size size="large">
                            <price>10.85</price>
                        </size>
                    </sizes>
                </item>
                <item name="Brocoli" id="4">     
                    <sizes>
                        <size size="small">
                            <price>6.85</price>
                        </size>
                        <size size="large">
                            <price>10.85</price>
                        </size>
                    </sizes>
                </item>
                <item name="Fresh Gaelic" id="5">
                    <sizes>
                        <size size="small">
                            <price>6.85</price>
                        </size>
                        <size size="large">
                            <price>10.85</price>
                        </size>
                    </sizes>
                </item>
                <item name="Extra Cheese" id="6">
                    <sizes>
                        <size size="small">
                            <price>1.25</price>
                        </size>
                        <size size="large">
                            <price>1.85</price>
                        </size>
                    </sizes>
                </item>
            </items>
        </category>
        
        <category name="Speciality Pizzas">
            <items>
                <item name="Three Aces Special" id="7">
                    <sizes>
                        <size size="small">
                            <price>9.80</price>
                        </size>
                        <size size="large">
                            <price>15.80</price>
                        </size>
                    </sizes>
                    <description></description>
                </item>
                <item name="Mediterranean" id="8">
                    <sizes>
                        <size size="small">
                            <price>9.80</price>
                        </size>
                        <size size="large">
                            <price>15.80</price>
                        </size>
                    </sizes>
                    <description>Sliced Tomatoes, Olives, Spinach, Fresh   Garlic, Mozzarella &amp;amp; Feta Cheese</description>
                </item>
                <item name="Vegetarian" id="9">
                    <sizes>
                        <size size="small">
                            <price>9.80</price>
                        </size>
                        <size size="large">
                            <price>15.80</price>
                        </size>
                    </sizes>
                    <description>Sliced Tomatoes, Onion, Peppers, Mushrooms, Broccoli, Mozzarella</description>
                </item>
            </items>
        </category>
        
        <category name="Spcial Dinners">
            <items>
                <item name="Chicken Wing Dinner" id="10">
                    <price>7.25</price>
                </item>
                <item name="Gyro Plate" id="11">
                    <price>7.25</price>
                </item>
                <item name="Chicken Finger Plate" id="12">
                    <price>7.25</price>
                </item>
                <item name="3 Piece Chicken Dinner" id="13">
                    <price>7.25</price>
                </item>
                <item name="Cheeseburger or Chicken Burger Plate" id="14">
                    <price>5.25</price>
                </item>
            </items>
        </category>
        
        <category name="Side Orders">
            <items>
                <item name="Onion Rings" id="15">
                    <sizes>
                        <size size="small">
                            <price>2.60</price>
                        </size>
                        <size size="large">
                            <price>2.95</price>
                        </size>
                    </sizes>
                </item>
                <item name="French" id="16">
                    <sizes>
                        <size size="small">
                            <price>2.25</price>
                        </size>
                        <size size="large">
                            <price>2.65</price>
                        </size>
                    </sizes>
                </item>
                <item name="Spicy" id="17">
                    <sizes>
                        <size size="small">
                            <price>2.60</price>
                        </size>
                        <size size="large">
                            <price>2.95</price>
                        </size>
                    </sizes>
                </item>
                <item name="Chicken Wings" id="18">
                    <price>5.75</price>
                </item>
                <item name="Buffalo Wings" id="19">
                    <price>5.75</price>
                </item>
            </items>
        </category>
        
        <category name="Salads">
            <items>
                <item name="Garden" id="20">
                    <sizes>
                        <size size="small">
                            <price>3.50</price>
                        </size>
                        <size size="large">
                            <price>4.50</price>
                        </size>
                    </sizes>
                </item>
                <item name="Greek" id="21">
                    <sizes>
                        <size size="small">
                            <price>4.50</price>
                        </size>
                        <size size="large">
                            <price>5.50</price>
                        </size>
                    </sizes>
                </item>
                <item name="Antipasto" id="22">
                    <sizes>
                        <size size="small">
                            <price>4.50</price>
                        </size>
                        <size size="large">
                            <price>5.50</price>
                        </size>
                    </sizes>
                </item>
                <item name="Chef" id="23">
                    <sizes>
                        <size size="small">
                            <price>4.50</price>
                        </size>
                        <size size="large">
                            <price>5.50</price>
                        </size>
                    </sizes>
                </item>
                <item name="Tuna" id="24">
                    <sizes>
                        <size size="small">
                            <price>4.50</price>
                        </size>
                        <size size="large">
                            <price>5.50</price>
                        </size>
                    </sizes>
                </item>
            </items>
        </category>
        
        <category name="Spaghetti or Ziti">
            <items>
                <item name="With Sauce" id="25">
                    <price>5.45</price>
                </item>
                <item name="With Sausage" id="26">
                    <price>6.45</price>
                </item>
                <item name="With Meatball" id="27">
                    <price>6.45</price>
                </item>
                <item name="With Veal" id="28">
                    <price>6.45</price>
                </item>
                <item name="A La Three Aces" id="29">
                    <price>6.45</price>
                    <description>Sausage, Mushrooms, Bacon &amp; Ham Topped with Sauce &amp; Mozzarella Cheese</description>
                </item>
            </items>
        </category>
        
        <category name="Home made Lasagna Raviolo or Manicotti">
            <items>
                <item name="With Sauce" id="30">
                    <price>6.25</price>
                </item>
                <item name="With Sausage" id="31">
                    <price>7.25</price>
                </item>
                <item name="With Meatball" id="32">
                    <price>7.25</price>
                </item>
                <item name="With Veal" id="33">
                    <price>7.25</price>
                </item>
                <item name="Veggie Lasagna" id="34">
                    <price>7.25</price>
                    <description>All Pasta Dinners Served with Garlic Bread and Salad</description>
                </item>
            </items>
        </category>
        
        <category name="Homemade calzones" size="large">
            <items>
                <item name="vegetarian" id="35">
                    <price>7.35</price>
                </item>
                <item name="Sausage" id="36">
                    <price>7.35</price>
                </item>
                <item name="Ham &amp; Cheese" id="37">
                    <price>7.35</price>
                </item>
                <item name="Chicken Cutlet" id="38">
                    <price>7.35</price>
                </item>
                <item name="Grilled Chicken" id="39">
                    <price>7.35</price>
                </item>
                <item name="Italian" id="40">
                    <price>7.35</price>
                    <description>All the above come with mushrooms, peppers&amp;onions</description>
                </item>
            </items>
        </category>
        
        <category name="Wraps">
            <items>
                <item name="Turkey Clue Wrap" id="41">
                    <price>4.95</price>
                    <description>Turkey, Cheese, Lettuce, Tomato,Onion, Mayo</description>
                </item>
                <item name="Chicken Cobb" id="42">
                    <price>4.95</price>
                    <description>Grilled Chicken, Bacon, Cheese, lettuce,Tomatop, Onion, Honey Mustard</description>
                </item>
                <item name="Greek Supreme" id="43">
                    <price>4.95</price>
                    <description>Feta Cheese, Black Olives, Lettuce,Tomato, Onion, Greek Dressing</description>
                </item>
            </items>
        </category>
        
        <category name="Grinders">
            <items>
                <item name="Meatless" id="44">
                    <sizes>
                        <size size="small">
                            <price>4.50</price>
                        </size>
                        <size size="large">
                            <price>4.95</price>
                        </size>
                    </sizes>
                </item>
                <item name="Hamburger" id="45">
                    <sizes>
                        <size size="small">
                            <price>4.50</price>
                        </size>
                        <size size="large">
                            <price>4.95</price>
                        </size>
                    </sizes>
                </item>
                <item name="Cheeseburger" id="46">
                    <sizes>
                        <size size="small">
                            <price>4.75</price>
                        </size>
                        <size size="large">
                            <price>5.75</price>
                        </size>
                    </sizes>
                </item>
                <item name="Meatball" id="47">
                    <sizes>
                        <size size="small">
                            <price>4.75</price>
                        </size>
                        <size size="large">
                            <price>5.75</price>
                        </size>
                    </sizes>
                </item>
                <item name="Sausage" id="48">
                    <sizes>
                        <size size="small">
                            <price>4.75</price>
                        </size>
                        <size size="large">
                            <price>5.75</price>
                        </size>
                    </sizes>
                </item>
                <item name="American" id="49">
                    <sizes>
                        <size size="small">
                            <price>4.75</price>
                        </size>
                        <size size="large">
                            <price>5.75</price>
                        </size>
                    </sizes>
                </item>
                <item name="Veal Curlet" id="50">
                    <sizes>
                        <size size="small">
                            <price>4.75</price>
                        </size>
                        <size size="large">
                            <price>5.75</price>
                        </size>
                    </sizes>
                </item>
                <item name="Hot Pastrami" id="51">
                    <sizes>
                        <size size="small">
                            <price>4.95</price>
                        </size>
                        <size size="large">
                            <price>5.95</price>
                        </size>
                    </sizes>
                </item>
                <item name="Italian" id="52">
                    <sizes>
                        <size size="small">
                            <price>4.75</price>
                        </size>
                        <size size="large">
                            <price>5.75</price>
                        </size>
                    </sizes>
                </item>
                <item name="Genoa Salami" id="53">
                    <sizes>
                        <size size="small">
                            <price>4.75</price>
                        </size>
                        <size size="large">
                            <price>5.75</price>
                        </size>
                    </sizes>
                </item>
                <item name="Ham" id="54">
                    <sizes>
                        <size size="small">
                            <price>4.75</price>
                        </size>
                        <size size="large">
                            <price>5.75</price>
                        </size>
                    </sizes>
                </item>
                <item name="Pepper &amp; Egg" id="55">
                    <sizes>
                        <size size="small">
                            <price>4.50</price>
                        </size>
                        <size size="large">
                            <price>4.95</price>
                        </size>
                    </sizes>
                </item>
                <item name="Gyro On Pita">
                    <price>5.50</price>
                </item>
                <item name="Grilled Chicken On Pizzas" id="56">
                    <price>5.25</price>
                </item>
                <item name="Grilled Chicken Delight" id="57">
                    <sizes>
                        <size size="small">
                            <price>5.50</price>
                        </size>
                        <size size="large">
                            <price>6.50</price>
                        </size>
                    </sizes>
                </item>
                <item name="Grilled Chicken Sub" id="58">
                    <sizes>
                        <size size="small">
                            <price>5.25</price>
                        </size>
                        <size size="large">
                            <price>5.85</price>
                        </size>
                    </sizes>
                </item>
                <item name="Chicken Finger Sub" id="59">
                    <sizes>
                        <size size="small">
                            <price>4.60</price>
                        </size>
                        <size size="large">
                            <price>5.60</price>
                        </size>
                    </sizes>
                </item>
            </items>
        </category>
    </categories>
</menu>